<form action="/figures" method="post">
  Name <input type="text" id="figure_name" name="figure[name]">
  
  <h3>Titles</h3>
  <%@titles.each do |title|%>
    <br><input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%=title.id%>"><%=title.name%></input>
  <%end%>
  
  <h3>Create New Title:</h3>
  <br><input type="text" id="new_title" name="title[name]">
  
  <h3>Landmarks</h3>
  <%@landmarks.each do |landmark|%>
    <br><input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%=landmark.id%>"><%=landmark.name%></input>
  <%end%>

  <h3>Create New Landmark:</h3>
  <br>Name: <input type="text" id="new_landmark" name="landmark[name]">
  Year: <input type="text" name="landmark[year_completed]">
  <input type="submit" id="submit" value="Create New Figure">
</form>